@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
   
}

.container-main{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   background-image: url(../imagem/bg-repeat.jpg);
   background-size:contain; 
   min-height: 100vh; 
}

.container-titulo-info{
    min-width: 300px;
    max-width:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px 50px 12px 70px;
}

.titulo-informativo{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
    max-width:280px;
    min-height:46px;
    margin-bottom: 11px;
    align-items:center;
    justify-content: center;
}

.texto-informativo{
    color: #FFFFFF;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    max-width: 300px;
   
}



.formulario-container{
    display: flex;
    background-color:#FFFFFF;
    max-width: 340px;
    min-height:373px;
    margin: 12px 50px 12px 410px;
}

.form-control{
   margin-bottom: 15px;
   padding: 20px;
   
}

.form-control input, textarea{

    border: 1px solid #000000;
    display: block;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    width: 100%;
    padding: 10px;
}

.form-control .input::placeholder{
    font-weight: 700;
    padding: 9px;
    color: #A8A8A8;
    font-size: 15px;
}

.campos-obrigatorio{
    margin: 15px;
    width: 100%;
}



.btn{
    background-color:#3CCC87;
    color: #FFFFFF;
    padding: 10px 127px;
    margin: 11px 20px;
    margin-bottom: 21px;
    border-radius: 5px;
    border:none;
}



.validacao{
    color: #F52E2E;
    font-size: 8px; 
    font-weight: 400;
    display: none;
}

.mostrar-mensagem{
    display: block;
}

.form-control .input.correto{
    border: 1px solid #00C22B;
}

.form-control .input.erro{
    border: 1px solid #F52E2E; 
}


